*{ 
    background-color:white;
    margin: 0px;
    padding: 0px;
    
}
#header{
    font-size: xx-large;
    width:320;
    height: 80px;
    background-color:chocolate ;
    color: white;
    margin:20px ;
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
 
 
}
#container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color:aqua;
    justify-content: space-evenly;
    border-bottom: 2px black dotted;
    flex-direction: row;
    

 }
img{
    width: 300px;
    height: 190px;
 } 
 h1{
    text-align: center;
    text-decoration: underline;
 }
 h3{
    text-align: center;
    text-decoration: underline;
 }
  .box_1{
    width: 300px;
    height: 290px;
    background-color:white;
    padding: 10px 30px;
    margin: 5px ;
    
} 
.footer{
    height: 50px;
    background-color: chocolate;
    color: white;
    text-align: center;
    padding-top: 35px;
}

  